.fr-m-navigation {
  display: flex;
  justify-content: flex-end;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: black;
    text-decoration: none;

    &:hover {
      color: rebeccapurple;
    }
  }
}